## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-shared-build-apt-sources-tpo
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile
Homepage: https://github.com/Whonix/anon-shared-build-apt-sources-tpo
Vcs-Browser: https://github.com/Whonix/anon-shared-build-apt-sources-tpo
Vcs-Git: https://github.com/Whonix/anon-shared-build-apt-sources-tpo.git
Standards-Version: 3.9.6

Package: anon-shared-build-apt-sources-tpo
Architecture: all
Depends: apt-during-apt, ${misc:Depends}
Description: Adds TPO's APT repository to Anonymity Linux Distributions
 Comes with "deb http://deb.torproject.org/torproject.org stable main", The Tor
 Project's APT signing key.
 .
 APT (timeout) options are supported through the apt_timeout_opts environment
 variable.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
