## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-shared-build-apt-sources-tpo
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile
Homepage: https://github.com/Whonix/anon-shared-build-apt-sources-tpo
Vcs-Browser: https://github.com/Whonix/anon-shared-build-apt-sources-tpo
Vcs-Git: https://github.com/Whonix/anon-shared-build-apt-sources-tpo.git
Standards-Version: 3.9.4

Package: anon-shared-build-apt-sources-tpo
Architecture: all
Depends: ${misc:Depends}
Description: Adds TPO's APT repository to Anonymity Linux Distributions during build
 Comes with "deb http://deb.torproject.org/torproject.org stable main", The Tor
 Project's APT signing key, and required chroot scripts.
 .
 Chroot scripts include adding The Tor Project's APT signing key to apt-key,
 updating package lists to include The Tor Project's APT repository and
 installing The Tor Project's deb.torproject.org-keyring package, which will
 keep The Tor Project's APT signing key current.
 .
 APT (timeout) options are supported through the apt_timeout_opts environment
 variable. Enabling an apt-cache is supported by using an exported
 aptcachemaybeenable bash function.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
